<section id="container" fxLayoutAlign="center center" fxLayout="column">
    <mat-card fxLayoutAlign="center center" fxLayout="row">
        <section>
            <img [src]="product?.imageURL">
        </section>
        <section id="right">
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-title>
                    <h1>{{ product?.name }}</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayoutAlign="center start" fxLayout="column">
                <section id="row" fxLayout="row">
                    <div class="column">
                        <h3 class="label">PRICE</h3>
                        <h3 id="price" class="primary-color">${{ product?.price }}</h3>
                    </div>
                    <div class="column">
                        <h3 class="label">RATING</h3>
                        <bar-rating [max]="5" [theme]="'default'"></bar-rating>
                    </div>
                </section>
                <div>
                    <h4 class="label">DESCRIPTION</h4>
                    <p>{{ product?.description }}</p>
                </div>
                <div>
                    <h4 class="label">SELLER</h4>
                    <p>{{ product?.seller }}</p>
                </div>
                <div>
                    <h4 class="label">COUNTRY OF ORIGIN</h4>
                    <p>{{ product?.countryOfOrigin.name }}</p>
                </div>
                <div>
                    <h4 class="label">SUBCATEGORY</h4>
                    <p>{{ product?.subcategory.name }}</p>
                </div>
                <div id="reviews">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Reviews
                                </mat-panel-title>
                                <mat-panel-description>
                                    Click to show the reviews
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="product-container">
                                <table mat-table [dataSource]="reviews" matSort>
                                    <ng-container matColumnDef="number">
                                        <th mat-header-cell *matHeaderCellDef> No. </th>
                                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="rating">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
                                        <td mat-cell *matCellDef="let element">
                                            <bar-rating [max]="5" [theme]="'default'" [rate]="element.rating"></bar-rating>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="space-evenly center">
                <button mat-raised-button color="primary" routerLink="">
                    <mat-icon>
                        arrow_back_ios
                    </mat-icon>
                    Home
                </button>
                <button mat-raised-button color="primary" (click)="addToCart(product.id)">
                    Add
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </mat-card-actions>
        </section>
    </mat-card>
</section>
